[Desktop Entry]
Version=1.0
Type=Application
Name=Redshift
Comment=Color temperature adjustment tool
Exec=redshift-gtk
Icon=redshift
Path=
Terminal=false
StartupNotify=true
