[Desktop Entry]
Version=1.0
Type=Application
Name=pwsh
Comment=
Exec=xterm -e pwsh
Icon=/usr/share/icons/hicolor/48x48/apps/icons8-powershell-48.png
Path=
Terminal=false
StartupNotify=false
