[Desktop Entry]
Type=Application
Exec=vym
Icon=vym
MimeType=application/x-vym;
Categories=Qt;KDE;Education;
Name=VYM - View Your Mind
Comment=Create mind maps
GenericName=Planning Tool
X-XFCE-Source=file:///usr/share/applications/vym.desktop
