[engine/kkc]
keymap='us'
use-custom-keymap=true

[engine/skk]
auto-start-henkan-keywords=['を', '、', '。', '．', '，', '？', '」', '！', '；', '：', ')', ';', ':', '）', '”', '】', '』', '》', '〉', '｝', '］', '〕', '}', ']', '?', '.', ',', '!']
dictionaries=['file=/home/sandi/.config/ibus-skk/user.dict,mode=readwrite,type=file', 'file=/usr/share/skk/SKK-JISYO.L,mode=readonly,type=file', 'host=localhost,port=1178,type=server']
egg-like-newline=false
initial-input-mode=0
page-size=7
pagination-start=4
period-style=0
show-annotation=true
typing-rule='default'

[general]
engines-order=['anthy', 'xkb:cz:qwerty:ces', 'kkc', 'xkb:us::eng']
preload-engines=['xkb:us::eng', 'anthy', 'kkc', 'xkb:cz:qwerty:ces']
use-system-keyboard-layout=false
version='1.5.32'

[general/hotkey]
triggers=['<Control>comma']

[panel]
lookup-table-orientation=1
show=2
