[Desktop Entry]
Encoding=UTF-8
Version={{ item.version }}
Type=Application
Name={{ item.name }}
Comment=
Exec={{ item.exec }}
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
